# Cache
**/__pycache__/
*.py[cod]
*$py.class

# pyenv / virtualenv
.python-version
.venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
eggs/
.eggs/
*.egg
lib/
lib64/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST

# IDE
.vscode/

# Dump
dump/

# Test
.pytest_cache/

# Logs
logs/
